/*
Theme Name: GP Developer Child Theme
Template: generatepress
Theme URI: https://addisonhalldesign.com
Author: Addison Hall
Author URI: https://addisonhalldesign.com
Description: This is a child theme for GeneratePress for use in jumpstarting more customized development.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: gpc
Tags: two-columns, three-columns, one-column, right-sidebar, left-sidebar, fluid-layout, fixed-layout, responsive-layout, flexible-header, full-width-template, buddypress, custom-header, custom-background, custom-menu, custom-colors, sticky-post, threaded-comments, translation-ready, featured-images, theme-options, light, white, dark, black, blue, brown, gray, green, orange, pink, purple, red, silver, tan, yellow
*/

/*

CONTENTS:
1. Defaults
2. Header and Nav
3. Home Page
4. Content
5. Components
6. Widgets
7. Footer
8. Other

*/

/* ==========================================
=! DEFAULTS
------------------------------------------ */



/* ==========================================
=! HEADER AND NAV
------------------------------------------ */

#masthead {
  margin-top: 7px;
}

#primary-menu > .menu > li > a {
  font-style: italic;
}
.generate-merged-header #site-navigation:not(.toggled) .main-nav > ul > li > a:focus{
  background-color: transparent;
}

.navigation-stick,
.slideout-navigation {
  background-color: #fff;
}

.site-header > .inside-header > .site-logo > a > .header-image {
  width: 279px;
}

.generate-page-header-video video {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .generate-combined-page-header .mobile-header-navigation:not(.is_stuck) .menu-toggle,
  .generate-combined-page-header .mobile-header-navigation:not(.is_stuck) button.menu-toggle:hover,
  .generate-combined-page-header .mobile-header-navigation:not(.is_stuck) button.menu-toggle:focus {
    color: #ffffff;
  }
}

/* .generate-combined-page-header .mobile-header-navigation .mobile-header-logo .header-image {
  display: none;
} */
/* .generate-combined-page-header .mobile-header-navigation:not(.is_stuck) .mobile-header-logo .header-image.merged-header-logo {
  display: block;
} */
/* .generate-combined-page-header .mobile-header-navigation.is_stuck .mobile-header-logo .header-image:not(.merged-header-logo) {
  display: block;
} */

.home .generate-merged-header .generate-combined-header .mobile-header-logo a > img:first-child {
    display: none;
}

/* --- virtual smile page header --- */
#page-header-791 .page-header-content-wrapper {
    max-width: 100%;
}

/* ==========================================
=! HOME PAGE
------------------------------------------ */



/* ==========================================
=! CONTENT
------------------------------------------ */

h1 {
  font-style: italic;
}

h2 {
  letter-spacing: 0.05em;
  -webkit-font-variant-ligatures: none;
          font-variant-ligatures: none;
}

.site-main div + h1,
.site-main div + h2,
.site-main div + h3,
.site-main div + h4 {
  margin-top: 2rem;
}

/* GP page header styling */
/* .home .inside-page-header-container.inside-content-header.generate-merged-header .generate-inside-combined-content.page-header-content-container h1 {
  padding-top: 35%;
  padding-bottom: 5%;
} */
#page-header-40 h1,
#page-header-482 h1 {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.065em;
  line-height: 0.825;
  padding-top: 36%;
}
#page-header-168 h1 {
  text-transform: none;
  font-style: italic;
}
@media (min-width: 1025px) {
  #page-header-40 h1,
  #page-header-168 h1,
  #page-header-482 h1 {
    font-size: 60px;
  }
}

/* --- dark band for over video on homepage --- */
#page-header-792 .h1 {
    font-family: "Playfair Display SC", sans-serif;
    text-transform: lowercase;
    font-size: 36px;
    line-height: 1.4em;
    letter-spacing: .05em;
}
.text-band-dark {
    margin-top: 26%;
    margin-bottom: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
}
@media (max-width: 450px) {
    .text-band-dark h1 {
        font-size: 24px;
        margin-bottom: -10px !important;
    }
    .text-band-dark h1 .border {
        display: block;
        margin-left: 6px;
        margin-right: 6px;
    }
}
@media (min-width: 1024px) {
    .text-band-dark {
        margin-top: 16%;
    }
}


/* GP section custom styling */
@media (min-width: 768px) {
  .generate-sections-container h2[style="text-align: center;"] + p[style="text-align: center;"] {
    font-size: 24px;
    margin-bottom: 60px;
  }
}
.generate-sections-container h2 + style + .wp-show-posts,
.generate-sections-container h2 + .wp-show-posts {
  margin-top: 60px;
}
.generate-sections-container.lite-blue-pattern {
  background: #d9eafb url('img/bg-lite-blue-pattern-tile.jpg') repeat 0 0;
}
.generate-sections-container.blue-watercolor,
.generate-sections-container.green-watercolor,
.generate-sections-container.yellow-green-watercolor {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}
.generate-sections-container.blue-watercolor {
  background-image: url('img/bg-blue-watercolor.jpg');
}
.generate-sections-container.green-watercolor {
  background-image: url('img/bg-green-watercolor.jpg');
}
.generate-sections-container.yellow-green-watercolor {
  background-image: url('img/bg-watercolor-yellow-green.jpg');
}

.team-posts .first:after {
  content: '';
  display: block;
  background-color: transparent;
  border-bottom: 1px solid #E5E3E2;
  padding-top: 1rem;
  width: 100%;
  height: 1px;
  visibility: visible;
}
@media (min-width: 1025px) {
  .team-photo {
    max-width: 300px;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

/* Services */
/* .service-image a,
.single-our_services .featured-image {
  display: block;
  background-color: rgba(193, 185, 108, 0.1);
  width: 100px;
  height: 100px;
  position: relative;
} */
/* .service-image a img,
.single-our_services .featured-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 45px;
  width: 45px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  opacity: 0.75;
} */
.service-item {
  margin-bottom: 1.4rem;
}
.service-item-inner {
  position: relative;
  width: 100%;
  background: #fdfcf4;
  background:
    -moz-linear-gradient(45deg,  transparent 10px, #F8F5E4 10px),
    -moz-linear-gradient(135deg, transparent 10px, #F8F5E4 10px),
    -moz-linear-gradient(225deg, transparent 10px, #F8F5E4 10px),
    -moz-linear-gradient(315deg, transparent 10px, #F8F5E4 10px);
  background:
    -o-linear-gradient(45deg,  transparent 10px, #F8F5E4 10px),
    -o-linear-gradient(135deg, transparent 10px, #F8F5E4 10px),
    -o-linear-gradient(225deg, transparent 10px, #F8F5E4 10px),
    -o-linear-gradient(315deg, transparent 10px, #F8F5E4 10px);
  background:
    -webkit-linear-gradient(45deg,  transparent 10px, #F8F5E4 10px),
    -webkit-linear-gradient(135deg, transparent 10px, #F8F5E4 10px),
    -webkit-linear-gradient(225deg, transparent 10px, #F8F5E4 10px),
    -webkit-linear-gradient(315deg, transparent 10px, #F8F5E4 10px);
  background:
    linear-gradient(45deg,  transparent 10px, #F8F5E4 10px),
    linear-gradient(135deg, transparent 10px, #F8F5E4 10px),
    linear-gradient(225deg, transparent 10px, #F8F5E4 10px),
    linear-gradient(315deg, transparent 10px, #F8F5E4 10px);
  padding: 2.5rem 1rem 2rem;
  transition: -webkit-radial-gradient linear 0.25s, -webkit-linear-gradient linear 0.25s;
  -webkit-transform: translateZ(0);
}
.service-item-inner-corners {
  position: relative;
  background: #fdfcf4;
  background-image:
    -moz-radial-gradient(0 100%, circle, #ffffff 14px, transparent 15px),
    -moz-radial-gradient(100% 100%, circle, #ffffff 14px, transparent 15px),
    -moz-radial-gradient(100% 0, circle, #ffffff 14px, transparent 15px),
    -moz-radial-gradient(0 0, circle, #ffffff 14px, transparent 15px),
    url('img/bg-lite-green-yellow-pattern-tile.jpg');
  background-image:
    -o-radial-gradient(0 100%, circle, #ffffff 14px, transparent 15px),
    -o-radial-gradient(100% 100%, circle, #ffffff 14px, transparent 15px),
    -o-radial-gradient(100% 0, circle, #ffffff 14px, transparent 15px),
    -o-radial-gradient(0 0, circle, #ffffff 14px, transparent 15px),
    url('img/bg-lite-green-yellow-pattern-tile.jpg');
  background-image:
    -webkit-radial-gradient(0 100%, circle, #ffffff 14px, transparent 15px),
    -webkit-radial-gradient(100% 100%, circle, #ffffff 14px, transparent 15px),
    -webkit-radial-gradient(100% 0, circle, #ffffff 14px, transparent 15px),
    -webkit-radial-gradient(0 0, circle, #ffffff 14px, transparent 15px),
    url('img/bg-lite-green-yellow-pattern-tile.jpg');
  background-image:
    radial-gradient(0 100%, circle, #ffffff 14px, transparent 15px),
    radial-gradient(100% 100%, circle, #ffffff 14px, transparent 15px),
    radial-gradient(100% 0, circle, #ffffff 14px, transparent 15px),
    radial-gradient(0 0, circle, #ffffff 14px, transparent 15px),
    url('img/bg-lite-green-yellow-pattern-tile.jpg');
}
.service-item-inner, .service-item-inner-corners {
  background-position: bottom left, bottom right, top right, top left, center center;
  -moz-background-size: 51% 51%, 51% 51%, 51% 51%, 51% 51%, 35% auto;
  -webkit-background-size: 51% 51%, 51% 51%, 51% 51%, 51% 51%, 35% auto;
  background-size: 51% 51%, 51% 51%, 51% 51%, 51% 51%, 35% auto;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
}
.service-image .service-image-inner {
  display: block;
  background-color: rgba(193, 185, 108, 0.2);
  background-position: 50% 50%;
  background-size: 36px auto;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  transition: background-color linear 0.2s;
}
.single-our_services .service-image .service-image-inner {
  background-size: 80px auto;
  width: 240px;
  height: 240px;
}
.service-item-inner:hover .service-image a {
  background-color: rgba(193, 185, 108, 0.35);
}
/* .service-image a:focus img,
.service-image a:hover img {
  opacity: 1;
}
.single-our_services .featured-image {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}
.single-our_services .featured-image img {
  height: 100px;
  width: 100px;
} */
@media (min-width: 1025px) {
  .service-title,
  .service-description {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* Featherlight scroll on GP sections */
.gpc .featherlight .featherlight-content {
  overflow-y: auto;
}

/* ==========================================
=! COMPONENTS
------------------------------------------ */

/* WordPress gallery */
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item,
.gallery-columns-4 .gallery-item,
.gallery-columns-5 .gallery-item,
.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,
.gallery-columns-8 .gallery-item,
.gallery-columns-9 .gallery-item {
  max-width: 50%;
}
@media screen and (min-width: 480px) {
  .gallery-columns-3 .gallery-item,
  .gallery-columns-4 .gallery-item,
  .gallery-columns-5 .gallery-item,
  .gallery-columns-6 .gallery-item,
  .gallery-columns-7 .gallery-item,
  .gallery-columns-8 .gallery-item,
  .gallery-columns-9 .gallery-item {
    max-width: 50%;
  }
}
@media screen and (min-width: 640px) {
  .gallery-columns-3 .gallery-item,
  .gallery-columns-4 .gallery-item,
  .gallery-columns-5 .gallery-item,
  .gallery-columns-6 .gallery-item,
  .gallery-columns-7 .gallery-item,
  .gallery-columns-8 .gallery-item,
  .gallery-columns-9 .gallery-item {
    max-width: 33.33%;
  }
}
@media screen and (min-width: 992px) {
  .gallery-columns-4 .gallery-item {
    max-width: 25%;
  }
  .gallery-columns-5 .gallery-item {
    max-width: 20%;
  }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%;
  }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%;
  }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%;
  }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%;
  }
}
.gallery-item,
.soliloquy-carousel .soliloquy-item {
  position: relative;
  overflow: hidden;
}
.gallery-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  margin: 5px;
  font-size: 15px;
  line-height: 1.1;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.soliloquy-carousel .soliloquy-item .soliloquy-caption {
  font-size: 15px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.gallery-item:hover > .gallery-caption,
.soliloquy-carousel .soliloquy-item:hover .soliloquy-caption {
  opacity: 1;
}

/* Plugin: size of ACF Google map */
.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0;
}

/* Plugin: fixes potential theme css conflict */
.acf-map img {
  max-width: inherit !important;
}

/* responsive video */
.video-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed, .video-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* responsive map embed */
.generate-sections-container.map-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
@media (min-width: 769px) {
  .generate-sections-container.map-embed {
    padding-bottom: 36%;
  }
}
.generate-sections-container.map-embed p {
  margin: 0;
}
.generate-sections-container.map-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Plugin: Testimonial rotator */
.gpc .testimonial_rotator_quote {
  font-size: 24px;
  font-style: italic;
  line-height: 1.5;
}

/* buttons */
.gpc .button {
  letter-spacing: 0.075em;
  padding-top: 14px;
}
/* resize Gravity Forms buttons as well */
.gpc .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit],
.gpc .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
  font-size: 16px;
}

/* Soliloquy plugin */
.gpc .soliloquy-caption {
  font-size: 17px;
}

/* ==========================================
=! WIDGETS
------------------------------------------ */

/* GPC Sub Menu Widget */
.widget_gpc_sub_menu_widget .dropdown-menu-toggle { display: none; }
.widget_gpc_sub_menu_widget .menu-item-has-children .sub-menu { margin-left: 1.2em; }
.widget_gpc_sub_menu_widget .menu-item-has-children .sub-menu li { list-style: disc; }
.widget_gpc_sub_menu_widget .current-menu-item > a { font-weight: bold; }

.widget-title {
  letter-spacing: 0.05em;
}

.sidebar .widget {
  border-top: 4px solid #7E8545;
}

/* Our Services List shortcode */
.our-services-list .current-item {
  font-weight: bold;
}

/* ==========================================
=! FOOTER
------------------------------------------ */



/* ==========================================
=! OTHER
------------------------------------------ */

/* Reset grid margins */
.grid-reset {
  margin-left: -10px;
  margin-right: -10px;
}

/* Plugin: Lightweight Grid Columns spacing fix */
.has-js .lgc-column { visibility: hidden; }
.lgc-row .lgc-column { visibility: visible; }
@media (min-width: 768px) {
  .lgc-row {
    margin-left: -20px;
    margin-right: -20px;
  }
}
.lgc-row .inside-grid-column {
  padding: 0 20px;
}

/* Less strict display-none (with no !important) */
.hide-me {
  display: none;
}