/*
Styling required to move header to a left sidebar
*/

@media (min-width: 1025px) {

  /* Make the overall layout adjustments */
  .gpc .site-header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18%;
  }
  .gpc .top-bar,
  .gpc .page-header-content,
  .gpc .site.grid-container,
  .gpc .site-footer {
    width: 82%;
    margin-left: 18%;
  }

  /* Fix the site logo and main navigation layout */
  .gpc .site-logo {
    display: block;
    margin-bottom: 1em;
  }
  .gpc.nav-float-right .inside-header .main-navigation,
  .gpc.nav-float-right .inside-header .main-navigation li {
    float: none;
  }
  .gpc .main-navigation ul ul {
    position: relative;
  }

}